<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-learning</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <section class="main">
        <nav id="nav">
            <div class="navbar">
                <div class="logo"><h1><span>E</span>-learning</h1></div>
                <div class="middlenav">
                <a>COURCES</a>
                <a>BOOKS</a>
                <a>WISHLIST</a>
            </div>
            <div class="rightnav">
                <button>contact</button>
                <button>log in</button>
            </div>
            </div>
        </nav>
        <section class="content">
            <h1>You Want to <span>learn</span> with <span>best teachers</span> of the <span>india</span>?</h1>
            <div class="searchbar">
            <input type="search" placeholder="Search desired cources...">
            <i class="ri-search-line"></i>
            </div>
            <p>Millions of Courses to watch... </p>
            <a href="#">Explore Now</a>
        </section>
        <div class="arrow">
        </div>
    </section>
        <div class="second">
            <h1 id="mainh">OUR COURSES</h1>
            <p class="subheading">Lorem ipsum, amet consectetur adipisicing elit. Adipisci.</p>
            <div class="boxes">
            <div class="box">
                <img src="python.png" alt="img">
                <div class="text">
                    <h1>Learn Python</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi nostrum, minus corrupti voluptatem necessitatibus architecto consequuntur maiores quia pariatur laboriosam in, labore id possimus quo commodi ipsum voluptates nam molestiae.</p>
            </div>
            </div>
            <div class="box">
                <img src="web2.png" alt="img">
                <div class="text">
                    <h1>Web Development course</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi nostrum, minus corrupti voluptatem necessitatibus architecto consequuntur maiores quia pariatur laboriosam in, labore id possimus quo commodi ipsum voluptates nam molestiae.</p>
            </div>
            </div>
            <div class="box">
                <img src="ai.png" alt="img">
                <div class="text">
                    <h1>AI and ML</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi nostrum, minus corrupti voluptatem necessitatibus architecto consequuntur maiores quia pariatur laboriosam in, labore id possimus quo commodi ipsum voluptates nam molestiae.</p>
            </div>
            </div>
            <div class="box">
                <img src="cyb.png" alt="img">
                <div class="text">
                    <h1>Cyber Security</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi nostrum, minus corrupti voluptatem necessitatibus architecto consequuntur maiores quia pariatur laboriosam in, labore id possimus quo commodi ipsum voluptates nam molestiae.</p>
            </div>
            </div>
            </div>
            <a href="#" id="view">View All</a>
            </div>
            <footer>
                <div class="logo"><h1><span>E</span>-learning</h1></div>
                <p>Keep connect with us! Follow us on any of these platforms.</p>
                <div class="media">
                </div>
                <a href="#" id="aa"><i class="ri-smartphone-line"></i>Download Web App<i class="ri-download-line"></i></a>
                <div class="footcontent">
                    <!-- <h1 class="ab">ABOUT</h1> -->
                    <div class="about hey">
                        <h1 class="ab">ABOUT</h1>
                        <a href="#">Privacy</a>
                        <a href="#">About</a>
                        <a href="#">Help</a>
                        <a href="#">License</a>
                        <a href="#">Contact us</a>
                    </div>
                    <div class="cat hey">
                    <h1 class="ab">CATEGORIES</h1>
                    <a href="#">JEE</a>
                    <a href="#">NEET</a>
                    <a href="#">GATE</a>
                    <a href="#">10,12th Boards</a>
                    <a href="#">5-9 all classes</a>
                </div>
                <div class="link hey">
                    <h1 class="ab">LINKS</h1>
                    <a href="#">Premium</a>
                    <a href="#">Featured</a>
                    <a href="#">Collections</a>
                    <a href="#">Login</a>
                    <a href="#">Sign Up</a>
                </div>
                <div class="link hey">
                    <h1 class="ab">LINKS</h1>
                    <a href="#">Premium</a>
                    <a href="#">Featured</a>
                    <a href="#">Collections</a>
                    <a href="#">Login</a>
                    <a href="#">Sign Up</a>
                </div>
                </div>
                <div class="language">
                <label for="uu"></label>
                <select name="language" id="uu">
                    <option value="0"><i class="ri-global-line"></i>English</option>
                    <option value="2">Hindi</option>
                    <option value="3">Spanish</option>
                </select>
                </div>
                <div class="grat">
                    <h1>Thankyou to visit us!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore, rem sed beatae officiis nesciunt itaque et voluptatem reiciendis molestiae? Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, et?</p>
                </div>
            </footer>
            <div class="tmf">
                <p><i class="ri-copyright-line">2023-E-learning, All rights reserved.</i></p> 
             </div>
             <script src="index.js"></script>
</body>
</html>